
<div class=" container-fluid" style="padding-top:30px; padding-bottom:60px;" >
<div class="row">
   
    <div class=" a container" style="padding-bottom: 100px; background-color:rgba(57, 57, 57, 0.2); border-color:rgba(57, 57, 57, 0); border-top-left-radius: 5px;  border-bottom-left-radius: 5px; height:500px; overflow:scroll">
    <h3 style="padding:10px; text-align:center; background-color: rgba(2, 28, 31, 0.7); border-bottom-left-radius:5px; border-bottom-right-radius:5px; color:white;">Why study in CHINA</h3>
    <div class="container">
    <h5 style="text-align:center;">(A) Exciting culture,</h5>
<a>	China has become one of the most popular study destinations for international students all over the world, because of its long and exciting culture, when it comes to economic reason, china has been the world’s fastest growing country for the past 30 years , Even during the financial crisis , economic growth has maintained a level of 8% which is a pace unthinkable in other countries ,</a> <br>

<h5 style="text-align:center;" >(B)	Education quality and recognition </h5>
<p>China is striving to build more world class universities and investing heavily in higher education, most Chinese universities offers Bachelor, Masters and PhD majors in areas like Engineering science, medical majors, economic and trade , finance , and other IT majors </p>
<p>Academic qualifications awarded by Chinese universities are recognized by most developed countries, The Chinese government has signed an agreement on mutual recognition of academic qualification with number of countries including USA, BRITAIN, FRANCE, JAPAN and other 65 countries and regions </p>
<h5 style="text-align:center;">(C)	Cheap living costs</h5>
study and living in china is cheaper than study in European countries, USA, AUSTRALIA, JAPAN, MALAYSIA & INDIA, Compared to United Kingdom at least 7000 pounds annually and the cost of living can reach up to 13000 pounds on the other hand in China, the tuition fee per semester is no more than $1000 and since 50% of products are made in China and sent to the outside China, so living cost and products daily products are cheaper.
</div>
  
</div>
</div>

</div>