<div style="padding-top:15px"><h4 style="text-align: center; letter-spacing:8px; color:#666; font-weight:100;"> HOHAI UNIVERSITY </h4></div>

<div style="padding-top:5px;"></div>
<mat-card style="padding:0px;">
  <h4 style="color:ghostwhite; font-weight:200; padding:10px; background:#333; text-align:center" >INTRODUCTION</h4>
  <mat-card-content style="padding:24px;">
      <p class="MsoNormal" style="text-align:center">
          
          </p>
          <p class="MsoNormal">
          The Mechanical Design, Manufacturing and
          Automation (MDMA) program at Zhejiang Normal University (ZJNU) emphasize a mix
          of applied mechanics, fluidic dynamics, numerical control processing, computer
          simulation, mechanical design and manudac science and technology. Since the
          MDMA is a broad discipline, this undergraduate program can be a springboard for
          graduate study in business, law, medicine, political science and other
          professions where understanding technology is important. Moreover, this
          undergraduate program provides technical backgrounds for work in mechanical
          engineering, transportation, environmental control and other multidisciplinary
          problems that concern society. In this program, emphasis is placed on
          developing systematic procedures for analysis, communication of work and ideas,
          practical and aesthetic aspects in design and responsible use of technology. 
          </p>
          <p class="MsoNormal">
          The technical portion of the MDMA curriculum is
          designed as a sequence of increasingly specialized experiences. The entering
          student's first year is spent mastering the basics of science: math, chemistry,
          and physics. Building on this base, in the second year students begin to take
          fundamental engineering courses such as design, statics, basic circuits and
          electronics, thermodynamics, and strength of materials. By the third year,
          students are allowed to choose one subfield of three modules, namely,
          Mechanical Design and Manufacturing (MDM), Electromechanical Control (EMC), and
          Material Processing and Control (MPC). Correspondingly, students are taking
          specialized mechanical engineering courses in the subfields of fluid mechanics,
          heat transfer, dynamic systems and controls, engineering materials, mechanical
          design, and manufacturing. Finally, during the senior year, students have the
          opportunity to both broaden and deepen their knowledge of the field through
          technical elective courses. At the end of the curriculum, students take the
          capstone senior design course in which the knowledge and skills they have
          learned are applied to projects proposed by industrial firms or faculty
          members. Engineering design, communication, teamwork, and laboratory
          experiences are integrated throughout the curriculum from the first year to the
          last year.
          </p>
  </mat-card-content>

</mat-card>
<div style="padding-top:5px;"></div>
<mat-card style="text-align:center">BACHELORS DEGREE</mat-card>
<div style="padding-top:5px;"></div>
<mat-card >
    <mat-card-content>
      <li>1. International business management 
        </li>
      <li>2.	Finance accounting and management 
        </li>
      <li>3. International business economics 
        </li>
      <li>4.	International business with communication studies 
        </li>
      <li>5.	International business with language 
        </li>
      <li>6.	Civil engineering 
        </li>
      <li>7. Computer science 
        </li>
      <li>8.	Aerospace 
        </li>
      <li>9.	Architecture and built environment 
        </li>
      <li>10. Electrical and electronic engineering 
        </li>
      <li>11. International communication 
        </li>
    </mat-card-content>
  </mat-card>


  <div style="padding-top:5px;"></div>
  <mat-card style="text-align:center">MASTERS DEGREE</mat-card>
  <div style="padding-top:5px;"></div>
<mat-card >
    <mat-card-content>
      
      <li>1.	Geographical Environment and Pollution Control</li>
          <li>2.	Master of Environmental Engineering</li>
              <li>3.	Master of Public Administration</li>
                  <li>4.	Master of Social Work</li>
                      <li>5.	Computer Intelligent Control and Electromechanical Engineering</li>
                          <li>6.	Biology</li>
                              <li>7.	Comparative Education</li>
                                  <li>8.	Physics </li>
                                      <li>9.	Mathematics </li>

    </mat-card-content>
  </mat-card>



  <div style="padding-top:5px;"></div>
  <mat-card style="text-align:center">TUITION FEE & OTHER EXPENSESE </mat-card>
  <div style="padding-top:5px;"></div>
<mat-card style="padding:0px;">
    <mat-card-content style="padding:24px;">
      
      
        <li>Tuition fee: $4680  per year for Bachelors Degree </li>
            <li>$5000  per year for Masters Degree </li>
                <li>Accommodation: $690 per year </li>
                    <li>Insurance: $100 per year</li>
                        <li>Residence Permit: $65 per year </li>
                            <li>Medical examination: $65 only once  </li>
                                <li>APPLICATION FEE: $100 (Must be paid during application procedures)</li>
                                    <li>SERVICE FEE: $250 (Must be paid when student comes to collect documents)  </li>                                        
                                    <li style="color:rgb(125, 6, 6)">NOTE: TUITION FEE AND ACCOMMODATION MUST BE PAID INTO UNIVERSITY ACCOUNT </li>                                                                                                


    </mat-card-content>
    <button mat-raised-button  style="width:100%; color:rgb(206, 206, 206); background: rgb(24, 24, 24)">Apply</button>
  </mat-card>
