<div style=" padding-top:15px; border-top-left-radius:10px; border-top-right-radius:10px;">
<h4 class="mbolo" style="text-align: center; letter-spacing:8px; color:#666; font-weight:100;"> Major Information</h4>
<table class="table table-sm table-bordered table-striped table-dark" style="box-shadow:0 5px 5px 0 #888; border-top-left-radius:10px; border-top-right-radius:10px; overflow:hidden; ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Major</th>
      <th scope="col">Years</th>
      <th scope="col">Tuition</th>
      <th scope="col">Accomodation</th>
    </tr>
  </thead>
  <tbody>
    <tr id="customers">
      <td scope="row">1</td>
      <td>MBBS</td>
      <td>5</td>
      <td>$15,000</td>
      <td>$400</td>
    </tr>
    <tr id="customers">
      <td scope="row">2</td>
      <td>BA</td>
      <td>3</td>
      <td>$5,000</td>
      <td>$1,000</td>
    </tr>
    <tr id="customers">
      <td scope="row">3</td>
      <td>Accountancy</td>
      <td>3</td>
      <td>$4,000</td>
      <td>$300</td>
    </tr>
  </tbody>
</table>
</div>
