td{
    font-weight:100;
    font-size:12px;
}
th{
    color:green;
    font-weight:200;
}

th:hover{
    color:rgb(255, 255, 255);
    font-weight:400;
 
}

#customers:hover{
    background-color: rgba(31, 31, 31, 1);;
    /* box-shadow:5px 5px 5px 5px black; */
}
/* .mbolo{
    padding: 7px 12px;
  font-size: 21px;
  background-color: green;
  background: linear-gradient(to top right, rgba(32, 39,	28,	2	), rgba(134, 134,	134	,.7));
  border-radius: 3px;
  color: white;
  position: relative;
  text-align: center;
  bottom: 35px;
  height:60px;
  width:60%;
  right: -129px;
} */