<div style="padding-left:30px; padding-top:50px; padding-bottom:500px"><div style="padding-top:15px"><h4 style="text-align: center; letter-spacing:8px; color:#666; font-weight:100;">Air Ticketing</h4></div><mat-card style=" min-height:280px; background:ghostwhite" >
    <h5 style="background:rgb(232, 232, 254); color:#666; font-weight:200; font-size:16px; padding:10px; text-align:center">How to apply ticket </h5>
    <p  style="color:#666; font-weight:300; font-size:16px;" >We have special packages for students which range from $390 to $800 depend on the season but most airlines that we have cooperation with.</p>
    <p  style="color:#666; font-weight:300; font-size:16px; "> we assures you with cheap and best flight connections to our client
    (down here put logos of ETIHAD , EMIRATES , TANZANIA AIRWAYS, RWANDAIR , ETHIOPIAN, KENYAN AIRWAYS , TURKISH AIRLINES, QUATAR AIRWAYS , KLM, SOUTHAFRICAN AIRWAYS , EGYPTIAN AIR) </p>
    
    </mat-card></div>
