<div style="padding-left:30px; padding-top:50px; padding-bottom:500px"><div style="padding-top:15px"><h4 style="text-align: center; letter-spacing:8px; color:#666; font-weight:100;">Form Downloads  </h4></div>
<mat-card style=" min-height:280px; background:ghostwhite" >
    <h5 style="background:rgb(232, 232, 254); color:#666; font-weight:200; font-size:16px; padding:10px; text-align:center">Download the following forms </h5>
    <div style="text-align:center"><a style="text-align:center" href="../assets/files/GUARANTEE STATEMENT FORM.docx" download="">form guarantee</a></div>
    <div style="text-align:center"><a style="text-align:center" href="../assets/files/Medical examination form.pdf" download="">Medical examination</a></div>
    <div style="text-align:center"><a style="text-align:center" href="../assets/files/VISA APPLICATION FORM.pdf" download="">Visa application</a></div>

    </mat-card></div>
