
  <!--<mat-card-content cdkScrollable>-->
    <!--<mat-tab-group class="demo-tab-group">-->
      <!--<mat-tab label="Airport Pickup" >-->
        <!--<div class="demo-tab-content"  >-->
            <!--<form >-->
          <!--<div class="row" style="padding: 5px; border-radius: 3px; overflow: scroll  ">-->

                        <!--<div class="col-sm" style=" padding-top:10px; overflow: scroll  ">-->
                            <!--<div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Personal Information</div>-->


                            <!--<input class="form-control form-control-sm" type="text" placeholder="Name">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Gender">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Number of persons">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Country of residence">-->

                        <!--</div>-->
                        <!--<div class="col-sm" style=" padding-top:10px; ">-->
                            <!--<div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Pickup Information</div>-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Flight No">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Depature airport">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arival city">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arrival airprt or terminal">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arrival date & time">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arrival address">-->
                        <!--</div>-->
                        <!--<div class="col-sm" style=" padding-top:10px;">-->
                            <!--<div class="card-header" style="background-color: #888; padding:1px;  text-align: center; color:ghostwhite; font-weight:100 ">contact Information</div>-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Mobile phone">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Email">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Emergence phone">-->
                        <!--</div>-->

            <!--</div>-->
            <!--</form>-->
        <!--</div>-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 2">-->
        <!--<div class="demo-tab-content">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
          <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
          <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
          <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
          <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
        <!--</div>-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 3" disabled>-->
        <!--No content-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 4">-->
        <!--<div class="demo-tab-content">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
          <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
          <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
          <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
          <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
          <!--<br />-->
          <!--<br />-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
          <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
          <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
          <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
          <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
        <!--</div>-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 5">-->
        <!--No content-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 6">-->
        <!--No content-->
      <!--</mat-tab>-->
    <!--</mat-tab-group>-->
  <!--</mat-card-content>-->
































<!--<div style="overflow: scroll">-->

  <!--<ul class="nav nav-tabs" id="myTab" role="tablist">-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>-->
  <!--</li>-->
<!--</ul>-->
<!--<div class="tab-content" id="myTabContent" style="overflow: scroll; height: auto">-->
  <!--<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="overflow: scroll; height: auto">-->

    <!--<form>-->
      <!--<div class="row" style="padding: 5px; border-radius: 3px; overflow: scroll; height: auto  ">-->


                        <!--<div class="col-sm" style=" padding-top:10px; overflow: scroll; height: auto  ">-->
                            <!--<div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Personal Information</div>-->


                            <!--<input class="form-control form-control-sm" type="text" placeholder="Name">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Gender">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Number of persons">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Country of residence">-->

                        <!--</div>-->
                        <!--<div class="col-sm" style=" padding-top:10px; overflow: scroll">-->
                            <!--<div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Pickup Information</div>-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Flight No">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Depature airport">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arival city">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arrival airprt or terminal">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arrival date & time">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Arrival address">-->
                        <!--</div>-->
                        <!--<div class="col-sm" style=" padding-top:10px; overflow: scroll" id="pickup">-->
                            <!--<div class="card-header" style="background-color: #888; padding:1px;  text-align: center; color: ghostwhite; font-weight:100 ">contact Information</div>-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Mobile phone">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Email">-->
                            <!--<input class="form-control form-control-sm" type="text" placeholder="Emergence phone">-->
                        <!--</div>-->


              <!--</div>-->


         <!--<div class="row" style="padding: 5px; border-radius: 3px; overflow: scroll; height: auto  ">-->


                        <!--<div class="col-sm" style=" padding-top:10px; overflow: scroll; height: auto  ">-->


                        <!--</div>-->
                        <!--<div class="col-sm" style=" padding-top:10px; overflow: scroll">-->
                            <!--<button mat-raised-butto >click</button>-->

                        <!--</div>-->
                        <!--<div class="col-sm" style=" padding-top:10px; overflow: scroll" >-->

                        <!--</div>-->


              <!--</div>-->



        <!--</form>-->



  <!--</div>-->
  <!--<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>-->
  <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>-->
<!--</div>-->
<!--</div>-->

















<mat-card class="moj" style="">


<div class="tab-content " id="myTabContent" style="">
 
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="padding: 0 12px;">Airport pickup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="padding: 0 12px;">Accomodation booking</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="padding: 0 12px;">Contact</a>
        </li> -->
      </ul>
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

    <form>







  <div class="row" style="padding-top: 1px; border-radius: 3px; ">
    <div class="col-sm">

        <div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Personal Information</div>
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Name">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Gender">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Number of persons">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Country of residence">

    </div>
    <div class="col-sm">

        <div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Pickup Information</div>
        <input [(ngModel)]="FlightNo" class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Flight No">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Depature airport">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Arival city">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Arrival airprt or terminal">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Arrival date & time">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Arrival address">

    </div>
    <div class="roro  col-sm" style="padding: 8px;">





        <div class="card-header" style="background-color: #888; padding:1px;  text-align: center; color: ghostwhite; font-weight:100 ">contact Information</div>
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Mobile phone">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Email">
        <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Emergence phone">






    </div>
</div>
<div class="row" style="padding: 2px; border-radius: 3px;">
    <div class="roro col-sm" style="padding: 1px; border-radius: 3px; ">



    </div>
    <div class="col-sm " align ="center" (click)="whoa()"><button class="btn button btne" style ="padding:0 9px; -webkit-box-shadow: 5px 2px 8px 0 rgba(0, 0, 0, 0.2)">Submit</button></div>
    <div class="roro  col-sm" style=" border-radius: 3px; overflow: scroll">



    </div>
</div>







        </form>



  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <form>







      <div class="row" style="padding-top: 1px; border-radius: 3px; ">
        <div class="col-sm">
    
            <div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Personal Information</div>
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Name">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Gender">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Number of persons">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Country of residence">
    
        </div>
        <div class="col-sm">
    
            <div class="card-header" style="background-color: #888; padding: 1px; text-align: center; color:ghostwhite; font-weight:100 ">Accomodation Information</div>
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Hotel name //option">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Place">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Double or Single">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Trip advisor">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Arrival date & time">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Arrival address">
    
        </div>
        <div class="roro  col-sm" style="padding: 8px;">
    
    
    
    
    
            <div class="card-header" style="background-color: #888; padding:1px;  text-align: center; color: ghostwhite; font-weight:100 ">contact Information</div>
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Mobile phone">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Email">
            <input class="form-control form-control-sm" style="margin-top:10px; margin-bottom: 10px" type="text" placeholder="Emergence phone">
    
    
    
    
    
    
        </div>
    </div>
    <div class="row" style="padding: 2px; border-radius: 3px;">
        <div class="roro col-sm" style="padding: 1px; border-radius: 3px;">
    
    
    
        </div>
        <div class="col-sm" align="center" (click)="whoa()"><button class="btn button btne" style="padding:0 9px; -webkit-box-shadow: 5px 2px 8px 0 rgba(0, 0, 0, 0.2)">Submit</button></div>
        <div class="roro  col-sm" style="border-radius: 3px;">
    
    
    
        </div>
    </div>
    
    
    
    
    
    
    
            </form>
  </div>
  <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
</div>

</mat-card>