<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm-7">
    <div class="contain">
      <div class="card">
            <div class="card-header" style="padding-top:30px;">
                <h4>Contact Us</h4>
                <p style="font-weight: lighter; font-size: small">To ensure that we keep the contact and give you the accurate information on what is your better choice of the universities abroad and other services contact us </p>
                <hr style="width:50px; border-top: 1px solid #ccc;">
            </div>
                <div class="card-body" style="list-style-type: none; font-size: small; font-weight: lighter; text-align: center">
                    <li>Hotline: +255 745 626 241</li>
                    <li>Whatsapp: +8613062529727</li>
                    <hr style="width:200px; border-top: 1px solid #ccc;">
                    <li>ADDRESS: Dar es salaam city, Mbezi beach, Sykes Road Tanzania</li>
                    <li>Plot #931/1, First Floor Room #3 (<a href="">Get location)</a></li>
                    <span class="bac-text">FAS</span>
                </div>
            </div>
    </div>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
