

<mat-card style="min-height:380px; text-align:center">



    <div class="container">
            <div class="row">
              <!-- <div class="col-sm">
                One of three columns
              </div> -->
              <div class="col-sm">
                    <mat-card style="padding:8px; background:rgb(232, 230, 230); "><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                        <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); text-align:center; color:rgb(48, 48, 48); font-size:10px;">Select pasport</a>
                        <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>
                        <div style="padding:5px;"></div>
                        <mat-card style="padding:8px; background:rgb(232, 230, 230); text-align:center"><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                            <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); color:rgb(48, 48, 48); font-size:10px;">Select a'level certificate</a>
                            <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>
                            <div style="padding:5px;"></div>
                            <mat-card style="padding:8px; background:rgb(232, 230, 230); text-align:center"><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                                <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); color:rgb(48, 48, 48); font-size:10px;">Select o'level certificate</a>
                                <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>
                                <div style="padding:5px;"></div>
                                <mat-card style="padding:8px; background:rgb(232, 230, 230); text-align:center"><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                                    <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); color:rgb(48, 48, 48); font-size:10px;">Select bachelor transcript</a>
                                    <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>
                                    <div style="padding:5px;"></div>
                                    <mat-card style="padding:8px; background:rgb(232, 230, 230); text-align:center"><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                                        <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); color:rgb(48, 48, 48); font-size:10px;">Select bachelor certificate</a>
                                        <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>

                                        <div style="padding:5px;"></div>
                                        <mat-card style="padding:8px; background:rgb(232, 230, 230); text-align:center"><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                                            <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); color:rgb(48, 48, 48); font-size:10px;">Select Medical examination</a>
                                            <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>
                                            <div style="padding:5px;"></div>
                                            <mat-card style="padding:8px; background:rgb(232, 230, 230); text-align:center"><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                                                <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); color:rgb(48, 48, 48); font-size:10px;">Select Clinical record</a>
                                                <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>

                                                <div style="padding:5px;"></div>
                                                <mat-card style="padding:8px; background:rgb(232, 230, 230); text-align:center"><input Name="whoa" style="font-size:10px; display: none" #fileInput   (change)="onfileSelected($event)" type="file">
                                                    <a (click)="fileInput.click()" style="cursor: pointer; background :rgb(232, 230, 230); color:rgb(48, 48, 48); font-size:10px;">Select Photo</a>
                                                    <button (click)="onUpload()" style="font-size:10px;">Upload</button></mat-card>
              </div>
              <!-- <div class="col-sm">
                One of three columns
              </div> -->
            </div>
          </div>

        </mat-card>