<div style="padding-left:30px; padding-top:50px; padding-bottom:500px"><div style="padding-top:15px"><h4 style="text-align: center; letter-spacing:8px; color:#666; font-weight:100;">Visa Application  </h4></div><mat-card style=" min-height:280px; background:ghostwhite" >

    <h5 style="background:rgb(232, 232, 254); color:#666; font-weight:200; font-size:16px; padding:10px; text-align:center">How to apply student visa </h5>
    <li style="color:#666; font-weight:200; font-size:16px;"><span style="color:rgb(121, 7, 7)">STEP 1. </span>Collect all required documents which are </li>
    <div style="padding:5px;"></div>
    <li style="color:#666; font-weight:300; font-size:16px; padding-left:20px;">(a)	PASSPORT (Original and one copy)</li>
        <li style="color:#666; font-weight:300; font-size:16px; padding-left:20px;">(b)	JW202 (Original and one copy) </li>
            <li style="color:#666; font-weight:300; font-size:16px; padding-left:20px;">(c)	ADMISSON LETTER (Original and one copy)</li>
                <li style="color:#666; font-weight:300; font-size:16px; padding-left:20px;">(d)	MEDICAL EXAMINATION FORM (Original and one copy)</li>
                    <li style="color:#666; font-weight:300; font-size:16px; padding-left:20px;">(e)	TWO PASSPORT SIZED PHOTO (With white background)</li>
                        <li style="color:#666; font-weight:300; font-size:16px; padding-left:20px;">(f)	VISA APPLICATION FORM </li>
                            <li style="color:rgb(121, 7, 7); font-weight:300; font-size:16px;">VISA APPLICATION FEE COST: <span style="color:#666"> $100</span></li>
    
</mat-card></div>
