
<div style="padding-top:15px"><h4 style="text-align: center; letter-spacing:8px; color:#666; font-weight:100;"> List of Universities</h4></div>
<div class="example-container mat-elevation-z8">
        <mat-table color="primary" #table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container color="dark" matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell color="primary" *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element" style="font-size:12px; letter-spacing:1px;"><span *ngIf="element.position == 1"> <a [routerLink]="['Zhejiang']">{{element.name}}</a></span><span *ngIf="element.position == 2"><a [routerLink]="['Nanjing']">{{element.name}}</a></span> <a *ngIf="element.position == 3" [routerLink]="['Zhejiangtech']">{{element.name}}</a>  <a *ngIf="element.position == 4" [routerLink]="['Hohai']">{{element.name}}</a><a *ngIf="element.position == 5" [routerLink]="['Nottigham']">{{element.name}}</a></mat-cell>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Degree type </mat-header-cell>
            <mat-cell *matCellDef="let element" style="font-size:12px; letter-spacing:1px;"> {{element.weight}} </mat-cell>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
            <mat-cell *matCellDef="let element" style="font-size:12px; letter-spacing:1px;"> {{element.symbol}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator #paginator
                       [pageSize]="7"
                       [pageSizeOptions]="[7]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

     
      <router-outlet></router-outlet>